*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
.venv/

# The intention will be to install this package through
# npm and, as such, we will not include package-lock.json
package-lock.json
